In [82]:
import pandas as pd
import edhec_risk_kit as erk
import numpy as np
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [83]:
data=pd.read_csv("Neuer Ordner\data\Portfolios_Formed_on_ME_monthly_EW.csv",header=0,index_col=0,parse_dates=True,na_values=-99.99)

In [84]:
columns=['Lo 20', 'Hi 20']
data=data[columns]

In [85]:
data

        Lo 20  Hi 20
192607  -0.57   3.33
192608   3.84   2.33
192609  -0.48  -0.09
192610  -3.29  -2.95
192611  -0.55   3.16
...       ...    ...
201808   3.09   2.49
201809  -2.04   0.19
201810 -10.52  -7.41
201811  -2.78   2.49
201812 -14.77  -9.21

[1110 rows x 2 columns]

In [86]:
data=data/100

In [87]:
months=data.shape[0]
returns_per_month=(data+1).prod()**(1/months)-1
returns_per_month

Lo 20    0.011860
Hi 20    0.007859
dtype: float64

In [88]:
returns_per_year=(returns_per_month+1)**(12-1)-1

In [89]:
returns_per_year

Lo 20    0.138475
Hi 20    0.089925
dtype: float64

In [90]:
returns_avarage=(data+1).prod()**(12/months)-1
returns_avarage

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [91]:
dev=data.std()
dev

Lo 20    0.097197
Hi 20    0.056325
dtype: float64

In [92]:
volatility=dev*np.sqrt(12)
volatility

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [93]:
%reload_ext autoreload

In [95]:
data=erk.get_ffme_return_for_Lo20()

In [97]:
new_data=data["1999":"2015"]
new_data

         SmallCap  LargeCap
1999-01    0.1114    0.0153
1999-02   -0.0399   -0.0172
1999-03   -0.0308    0.0368
1999-04    0.0824    0.0679
1999-05    0.0435   -0.0048
...           ...       ...
2015-08   -0.0347   -0.0559
2015-09   -0.0610   -0.0333
2015-10    0.0385    0.0710
2015-11    0.0165    0.0015
2015-12   -0.0500   -0.0229

[204 rows x 2 columns]

In [98]:
months=new_data.shape[0]
returns_new_data=(new_data+1).prod()**(12/months)-1

In [99]:
returns_new_data

SmallCap    0.114426
LargeCap    0.062865
dtype: float64

In [100]:
volatility=new_data.std()*np.sqrt(12)
volatility

SmallCap    0.228894
LargeCap    0.172713
dtype: float64

In [102]:
erk.drawdown(new_data["SmallCap"])["Drawdown"].min()

-0.6248092431236988

In [105]:
erk.drawdown(new_data["SmallCap"])["Drawdown"].idxmin()

Period('2009-02', 'M')

In [106]:
erk.drawdown(new_data["LargeCap"])["Drawdown"].min()

-0.5527349978713653

In [107]:
erk.drawdown(new_data["LargeCap"])["Drawdown"].idxmin()

Period('2009-02', 'M')

In [113]:
data=erk.get_hfi_returns()

In [116]:
data=data["2009":]
data

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [120]:
erk.semideviation(data).idxmin()

'Fixed Income Arbitrage'

In [122]:
erk.skewness(data).idxmin()

'Equity Market Neutral'

In [123]:
erk.kurtosis(data).idxmax()

'Convertible Arbitrage'